<section data-ng-controller="GroceriesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Groceries</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="grocery in groceries" data-ng-href="#!/groceries/{{grocery._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="grocery.created | date:'medium'"></span>
				by
				<span data-ng-bind="grocery.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="grocery.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!groceries.$resolved || groceries.length">
    	No Groceries yet, why don't you <a href="/#!/groceries/create">create one</a>?
    </div>
</section>