<section data-ng-controller="GroceriesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Grocery list</h1>
    </div>
    <form name="form" class="form" ng-show="isAuthenticated">
        <input type="text" data-ng-model="item" id="item" class="form-control" placeholder="Item" required>
        x <input type="text" data-ng-model="quantity" id="quantity" class="form-control" placeholder="units" required>
        <button id="add" class="btn btn-primary" ng-click="create()">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
        <div id="error" data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>
    </form>
    <ul class="list-group">
        <li data-ng-repeat="grocery in groceries" data-ng-href="#!/groceries/{{grocery._id}}" class="list-group-item">
            <span class="item" data-ng-bind="grocery.item"></span>
            <span class="badge-wrap">
                <span class="quantity badge badge-green" data-ng-bind="grocery.quantity"></span>
            </span>
        </li>
    </ul>
</section>